PORT=":8000"
DB_USER="root"
DB_PASSWORD="root"
DB_NETWORK="tcp"
DB_ADDRESS="127.0.0.1:3306"
DB_NAME="aqi_route_optimizer"
OPENROUTE_SERVICE_API_KEY="secret"
FIND_ROUTE_URL="https://api.openrouteservice.org/v2/directions/driving-car/geojson"
SEARCH_LOCATION_URL="https://api.openrouteservice.org/geocode/search"
GET_AQI_URL="https://air-quality-api.open-meteo.com/v1/air-quality"